button {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.button-black {
    background: black;
    color: white;
    transition: all .6s ease-in;
    font-weight: bold;
}


.button-black:hover {
    background: rgb(79, 79, 84);
}
.button-white {
    background: white;
    color: black;
    border: 2px solid black;
}