.slider {
    backdrop-filter: blur(5px);
    display: flex;  
    width: 100%;
    height: calc(90vh - 60px);
    justify-content: flex-start;
    gap: 2rem;
    border-radius: 30px;
    background: white   ;
}


.slider-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-image div {
    width: 350px;
    height: 400px;
}
.slider-image img {
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    object-fit: fill;
    height:100%;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slider-header {
    font-size: 56px;
    font-weight: bold;
    color: #000;
}

.slider-container strong {
    color: black;
    font-weight: 500;
    font-size: 36px;
}



.slider-button {
    /* background: red; */
    display: flex;
    gap: 2rem;
}

.slider-button button {
    margin-top: 30px;
    outline: none;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.button-know-more {
    background-color: #4EA3F3;
    color: white;
    font-weight: 400;
}

.slider-buy {
    background-color: white;
    color: black;
    font-weight: 100;
}