.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 50px;
    position: relative;
}

.menu-logo h1 {
    margin: 0;
}

.menu-logo-icon {
    width: 150px;
    transition: border-color 0.25s;
}

.menu-links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    height: calc(100vh - 60px);
}

.menu-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.menu-links a:hover {
    color: blue;
}

.menu-icon {
    display: block;
    cursor: pointer;
}

.menu-links.open {
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.bar-icon {
    font-size: 24px;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .menu {
        padding: 10px 30px;
    }
}