.menu {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(235, 232, 232);
    padding: 10px 50px;
    z-index: 1000;
    width: 100%;
}

.menu.open {
    background: white;
    transition: all .8s ease;
}

.menu-logo h1 {
    margin: 0;
}

.menu-logo-icon {
    width: 150px;
    transition: border-color 0.25s;
}

.menu-links {
    display: block;
    align-items: center;
    flex-direction: column;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
}

.menu-links a {
    color: #000;
    text-decoration: none;
    margin-right: 20px;
}

.menu-links a:hover {
    color: blue;
}

.menu-icon {
    display: flex;
    cursor: pointer;
    gap: 1.5rem;
}




.bar-icon {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.bar-icon-menu {
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: none;
}

body.menu-open {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .bar-icon-menu {
        display: block;
    }

    .menu-links {
        display: none;
    }

    .menu-links.open {
        display: flex;
        position: absolute;
        justify-content: space-evenly;
        background: rgb(235, 232, 232);
        height: calc(100vh - 60px);
    }
}